# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.9d180939f380aa3408d496dec5c83c91.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
